# SmartRetailX API Backend Base URL (AWS ALB or local API Gateway)
# When deploying to AWS ALB, set this to your ALB base URL or leave blank if served from same origin.
VITE_API_BASE_URL=http://SmartRetailX-ALB-123532839.ap-south-1.elb.amazonaws.com

# Optional App Title
VITE_APP_TITLE=SmartRetailX E-Commerce
